/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background: linear-gradient(to bottom, #1e528e 0%,#265889 50%,#9da671 100%);
    font-family: arial;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix {
    clear: both;
}
.tt-contents-container {
    width: 90%;
    margin: 0 auto;
}
.logo-holder {
    font: normal 16px/30px arial;
    text-align: left;
    padding-top: 10px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.top-navi {
        list-style-type: none;
    float: right;
    margin-top: 15px;
}
.header-area {
    background: none;
}
.top-navi li {
    display: block;
    float: left;
    padding: 0 10px;
    
    text-align: center;
}
.top-navi li.active{
    background: #000;
}
.top-navi li a{
    font: normal 12px/22px arial;
    color: #fff;
}
.inner-contents-container {
    width: 100%;
    height: 100%;
}
.banner-holder {
    margin: 15px 0;
    position: relative;
    background: #fff;
    padding: 15px;
}
.banner-holder img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.banner-transparent-area {
         top: 15px;
    left: 15px;
    height: calc(100% - 30px);
    background: rgba(0,0,0,0.7);
    padding: 15px;
    position: absolute;
    width: 30%;
}
.loader-container {
    width: 100%;
    height: calc(100% - 100px);
    left: 0;
    top: 100px;
    position: absolute;
    box-sizing: border-box;
    padding-top: 100px;
    text-align: center;
    padding-top: 40px;
}
.loader-container img {
    display: inline;
}

.top-field-title {
   font: normal 18px/30px arial;
   color: #fff; 
    text-transform: uppercase;
    text-align: left;
}
.top-input-field {
    border: 1px solid #aaa;
    border-radius: 0px;
    width: 70%;
    display: block;
    margin: 5px auto 0;
    background: #fff;
    height: 40px;
    padding:  0 0 0 5px;
    float: left;
    color: #000;
}
.submit-btn {
    width:25%;
    background: #118899;
    color: #fff;
    text-align: center;
    font:normal 16px/40px arial; 
    height: 40px;
    border: 0px;
    margin: 5px 0 0 5%;
    display: block;
   cursor: pointer;
    float: left;
}
.temp-data-container {
    margin: 15px auto 0;
    width: 100%;
    
}
.temperature-holder {
    font: normal 120px/120px arial;
    text-align: center;
    color: #fff;
    width: 80%;
    margin: 0 auto;
}
.date-holder {
    font: normal 18px/25px arial;
    text-align: center;
    color: #fff;
    width: 80%;
    margin: 0 auto;
}
.time-holder {
    font: normal 16px/25px arial;
    text-align: center;
    color: #fff;
    width: 80%;
    margin: 0 auto;
}
.temp-name-holder {
    font: normal 16px/25px arial;
    text-align: center;
    color: #fff;
    width: 80%;
        margin: 0 auto;
    margin-top: 10px;
}
.error-msg{
    width: 100%;
    padding: 5px;
    font: normal 12px/20px arial;
    color: #cc0000;
    position: relative;
    background:#fff;
    margin: 20px 0 0 0 ;
}
.err-msg-close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: -12px;
    right: -12px;
    cursor: pointer;
    background: url(../app/components/localWeather/views/images/error-close-icon.png) no-repeat left top;
}
.btm-weather-box {
    margin-top: 10px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.weather-box {
    height: 150px;
    background: #fff;
    padding: 10px;
    margin-right: 10px;
    width: 25%;
    position: relative;
}
.weather-box:before {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 5px;
    background: #118899;
}
.weather-box:last-child{
    margin-right: 0px;
}
.forecast-heading {
    font: normal 18px/22px arial;
    margin-top: 10px;
    text-transform: uppercase;
    color: #fff;
}
.weather-box-date {
    font: bold 14px/22px arial;
    color: #3e3e3e;
    text-align: center;
}
.weather-box-temp {
    font: normal 65px/90px arial;
    color: #000;
    text-align: center;
}
